.centered-heading {
    text-align: center;
    margin-top: 1rem; 
    margin-bottom: 1.5rem; 
    color: green; /* Change this to your desired color */
    text-transform: uppercase;
    font-weight: 1000;
}
